

.social-link{
    border: 2px;
}
.topbar1{
    background-color:rgba(128, 128, 128, 0.985);
 border-bottom: 1px solid #ffff;
 padding: 10px;
}
.navbar1{
    background-color: gray;
}
.img1{
    margin:0px 300px 0px 0px;
}