
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>construction</title>
</head>
<body>
    <footer class="footer">
 <div class="container">
     <div class="row">

         <div class="col-4">
          <h3>ABOUT US
              <hr class="hori">
          </h3>
          
          <br>
          <p *ngFor="let nm of empData">
        <img src="{{nm.img}}"  width="200" alt="">
        </p>
        
         <br> 
        <br>
          <p class="design">Building isnt just a job. At the Construction Company, it is our passion.
               With every project we undertake, we set the bar high and provide the best people in the industry, with a true love of what we do to make our Customers’ vision a reality.</p>
         </div>

         <div class="col-4">
             <h3>COMPANY LINK
                 <hr class="hori">
             </h3>
             <div class="row">
            <div class="font col-md-6 py-4">
               
               <div><i class="fa-solid fa-angles-right py-3"></i><a class="px-3" href="">{{case1}}</a></div> 
                <div><i class="fa-solid fa-angles-right py-3"></i><a class="px-3" href="">{{case2}}</a></div>
               <div> <i class="fa-solid fa-angles-right py-3"></i><a class="px-3" href="">{{case2}}</a></div>
               <div> <i class="fa-solid fa-angles-right py-3"></i><a class="px-3" href="">{{case4}}</a></div>
            <div> <i class="fa-solid fa-angles-right py-3"></i><a class="px-3" href="">{{case5}}</a> </div>
                  </div>

                  <div class="font col-md-6 py-4">
                      <div> <i class="fa-solid fa-angles-right py-3"></i><a class="px-3" href="">{{case6}}</a></div>
                    <div><i class="fa-solid fa-angles-right py-3"></i><a class="px-3" href="">{{case7}}</a></div>
                  <div> <i class="fa-solid fa-angles-right py-3"></i><a class="px-3" href="">{{case8}}</a></div> 
                   <div><i class="fa-solid fa-angles-right py-3"></i><a class="px-3" href="">{{case9}}</a></div> 
                   <div><i class="fa-solid fa-angles-right py-3"></i><a class="px-3" href="">{{case10}}</a></div> 
                   <div><i class="fa-solid fa-angles-right py-3"></i><a class="px-3" href="">{{case11}}</a></div> 

                  </div>
             </div>
        
              
             </div>
        

        <div class="col-4">
            <h3>CONTACT INFO</h3> 
            <hr class="hori">
            <br>
            <p>Adress:1379 Shoreline Parkway, 
                Mountain View,
                 CA 94043,
                 United States</p>
                 <br>
                 <p>Phone:-+91 8999170295</p>
                 <br>
                 <p>Email:-Construction@gmail.com</p>
                 
                 <br>
                 <div class="social-link">
                    <i class="fa-brands fa-facebook box"></i>
                    
                    <i class="fa-brands fa-twitter box"></i>
                
                    <i class="fa-brands fa-pinterest-p box"></i>

                    <i class="fa-brands fa-google-plus  px-1"></i>

                     <i class="fa-brands fa-dribble  px-1"></i>

                 </div>
        </div>

     </div>
 </div>
    </footer>
        
    
        

</body>
</html>
